<main class="py-5">
    <section class="mb-5">
         <form>
            <div class="container">
                <h3 class="mb-3">Add Student</h3>
                <div class="bg-light p-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Last Name</label>
                            <input type="text" name="lastName" [(ngModel)]="firstName" class="form-control form-control-ml" required value="">
                        </div>                         
                        
                        <div class="col-lg-4">
                            <label for="">First Name</label>
                            <input type="text" name="firstName" [(ngModel)]="lastName" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-4">
                            <label for="">DNI</label>
                            <input type="text" name="dni" [(ngModel)]="dni" class="form-control form-control-ml" required value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label for="">Email</label>
                            <input type="email" name="email" [(ngModel)]="email" class="form-control form-control-ml" required value="">
                        </div>

                        <div class="col-lg-8">
                            <label for="">Address</label>
                            <input type="text" name="address" [(ngModel)]="address" class="form-control form-control-ml" required value="">
                        </div>
                    </div> 
                    
                    <hr class="mb-4">
                    <button type="button" class="btn btn-primary" (click)="addStudent()">Add</button>                    
                </div>
            </div>
         </form>
    </section>
</main>